@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #323252; */
    font-family: "Poppins";
    
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start */

/* Left side container start */

.container {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(255, 252, 249);
}

.left-container {
    flex-basis: 70%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

/* Navigation bar start */

.navbar{
    /* background-color: #06e530; */
    margin-top: 1rem;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}

.navbar-links{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-right: 6vw;
}

.link {
    display: flex;
    color: rgb(0, 16, 11);
    padding: 1vw;
    text-decoration: none;
    text-align: center;
    margin-right: 2vw;
    transition: .5s;
}

.link:hover {
    border: .2vw solid #944dffc7;
    box-shadow: 2px 2px 2px 2px #944dffc7;
}

/* Navigation bar end */

/* Hamid picture container start */

.picture2-container {
    /* background-color: white; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.core {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.core_img-container {
    width: 18rem;
    height: 18rem;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
}

.profileImg2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.core button {
    border: 2px solid #944dffc7;
    /* background-color: #06e530; */
    background: transparent;
    color: rgb(0, 16, 11);
    width: 20%;
    height: 8vh;
    backdrop-filter: blur(5px);
    transition: .5s;
}

.core button:hover {
    border: 2px solid white;
    box-shadow: 2px 2px 2px 2px #944dffc7;
}

/* Hamid picture container end */

/* Left side container end */

/* Right side container starts */


.right-container{
    /* background-color: aquamarine; */
    flex-basis: 30%;
}

.greet {
    color: rgb(0, 16, 11);
}

.intro{
    color: rgb(0, 16, 11);
}

.hob {
    color: rgb(0, 16, 11);
}

/* All circle start */

.oval {
    background-color: rgb(206, 255, 26);
}

/* left side circle start */

.circle-6,.circle-8, .circle-7{
    position: absolute;
    border-radius: 50%;
    transition: .5s;
}

.circle-6:hover,.circle-8:hover{
    border: .2vw solid black;
    box-shadow: 2px 2px 2px 1px #06e530;
}

.circle-7:hover{
    box-shadow: 2px 2px 2px 2px yellow;
    border: .2vw solid black;
}

/* Left side circle end */
/* Social media circle start */

.circle-ani i {
    font-size: 2rem;
    transition: all .5s;
}

.circle-ani:hover i {
    transform: scale(2);
}

.circle-6{
    /* background-color: #06e530; */
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    right: 20.5%;
    bottom: 10%;
}

.circle-7 {
    /* background-color: #06e530; */
    height: 4rem;
    width: 4rem;
    right: 15%;
    bottom: 10%; 
    color: #0a66c2;
    /* position: relative; */
}

.circle-7:hover::after{
    transform: scale(1);
}

.circle-8{
    /* background-color: #06e530; */
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    bottom: 10%;
    right: 9.5%;
    color: #1da1f2;
}

.fa-linkedin {
    z-index: 10;
    position: relative;
}

/* Social media circle end */

/* Second page start */

.project-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0,.2), rgba(88, 78, 78,.5)), url(./Planet\ Arcadia.png);
    background-size: cover;
    /* background-blend-mode: darken; */
    background-attachment: fixed;
}

.size {
    height: 100vh;
    width: 100%;
}

.first-card {
    /* background-color: #0a66c2; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card {
    /* background-color: #06e530; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}

.card1,.card2{
    background-color: rgba(255, 255, 255, 0.1);
    height: 100vh;
    width: 35%;
    border-radius: 30px;
    backdrop-filter: blur(3px);
}

#card-p {
    color:  rgb(128, 0, 175);
    font-weight: bold;
    margin: 1rem;
}

#card-p2 {
    color:  rgb(2, 255, 209);
    font-weight: bold;
    margin: 1rem;
}

.card-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-1{
    height: 40vh;
    width: 70%;
    object-fit: cover;
    border-radius: 30px;
}

.circle-2{
    height: 35vh;
    width: 100%;
    border-radius: 20px;
    /* background-color: #06e530;s */
}

.circle-5{
    /* background-color: #06e530; */
    border-radius: 20px;
    height: 10rem;
    width: 15rem;
}

/* top circle */

.top-circle {
    background: linear-gradient(rgba(0, 0, 0, 0.01), rgba(206, 255, 26, 0.7));
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    overflow: hidden;
    top: -10%;
    left: -5%;
    position: absolute;
}

.footer {
    /* background-color: #06e530; */
    text-align: center;
    font-weight: 500;
    background-color: #8747e7c7;
    margin-top: 20px;
}

.nameAnimation {
    color: white;
    animation-name: nameanimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-direction: normal;
    animation-timing-function: ease-in;
}

@keyframes nameanimation {
    20% {color: white;}
    40% {color: yellow;}
    60% {color: orange;}
    80% {color: red;}
    100% {color: black;}
}

/* End */

/* responsive */
